body{
    background-color: #e4f9fe;
}
/* Color principal de la pagina */
#divDesencriptar{
    background-color: #ffffff;
    border-radius: 30px;
}
/* Color de la zona de desencriptar de la segunda division */
.conjuntoBotones{
    width: auto;
    vertical-align: bottom;
}
#btnEncriptar {
    border-radius: 15px;
    background-color: #232f7d;
    color: #ffffff;
    font-size: 15px;
}
#btnEncriptar:hover{
    background-color: #3243ad;
    transition-duration: 1ms;    
}

#btnDesencriptar {
    border-radius: 15px;
    background-color: #D8DFE8;
    color: #0A3871;;
    font-size: 15px;
    border-color: #0A3871;
}
#btnDesencriptar:hover , #btnCopiar:hover{
    background-color: #a6b7cb;
    transition-duration: 1ms;    
}
#btnCopiar{
    border-radius: 15px;
    background-color: #ffffff;
    color: #0A3871;;
    font-size: 15px;
    border-color: #0A3871;
}
#txtDesencriptar{
    margin-top: 100px;
    visibility: collapse;
    border-style: none;
    font-size: 20px;
}
