*{
    font-family: 'Montserrat', sans-serif; 
}
body{
    background-color: #e4f9fe;
    width: 100%;
    margin: auto;       
}
.encabezado{
    width: 80%;  
    padding: 1em;
    margin: 0 auto;  
}
.contenedor{
    width: 85%;        
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.seccionEncriptar{    
    width: 70%;
}
.divEnc{
    width: 70%;
    margin: 0 auto;
    padding: 1em;
}
.txtEncriptar{
    width: 80%;       
    margin: 0 auto;
    text-align: justify;    
    padding: 1em;
    border: none;
}
.divBotones{    
    margin-top: 75%;    
}
.btn{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #b3b3b3 ;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}
.btnEncriptar{
    background-color: #232f7d;
    color: #ffffff;
}
.btnEncriptar:hover{
    background-color: #3243ad;
    transition-duration: 1ms; 
}
.btnDesencriptar{
    background-color: #D8DFE8;
    color: #000000;
}
.btnDesencriptar:hover{
    background-color: #c8cdd3;
    transition-duration: 1ms; 
}
.seccionDesencripr{    
    width: 30%;
    background: #ffffff;
    border-radius: 30px;
}
.divDesen{
    padding: 1em;
    margin: auto;
    width: 90%;
    display: grid;    
}
.txtDesencriptar{
    width: 80%;     
    height: 300px;  
    margin: auto;    
    padding: 1em;
    display: none;     
    border: #ffffff;   
}
.imgFoto{
    width: 250px;
    margin: auto;
    margin-top: 80px;
}
.divDesen p{
    font-weight: bold;
    text-align: center;
}
.divDesen label{
    margin-top: 5px;
    font-size: 15px;
    text-align: center;
}
.btnCopiar{
    margin: 0 auto;
    margin-top: 150px;
    display: none;
}
.btnCopiar:hover{
    background-color: #c8cdd3;
    transition-duration: 1ms;
}
.piePagina{
    width: 100%;
}
.piePagina ul{
    text-align: center;   
   
}
.items{
    display: inline-block;
    padding: 10px 7px;    
}
.items a i{
    color: #0A3871;
    font-size: 30px;
}




